APP_NAME=""
APP_VERSION=""


FILE_ALLOWED_TYPES=["text/plain","application/pdf"]
FILE_MAX_SIZE =
FILE_DEFAULT_CHUNK_SIZE=

MONGODB_URL=""
MONGODB_DATABASE=""


GENERATION_BACKEMD = ""
EMBEDDING_BACKEND = ""

OPENAI_API_KEY=""
OPENAI_API_URL = 
COHERE_API_KEY=""

GENERATION_MODEL_ID = ""
EMBEDDING_MODEL_ID = ""
EMBEDDING_MODEL_SIZE = 

INPUT_DAFAULT_MAX_CHARACTERS = 
GENERATION_DAFAULT_MAX_TOKENS=
GENERATION_DAFAULT_TEMPERATURE=

VECTOR_DB_BACKEND = ""
VECTOR_DB_PATH = ""
VECTOR_DB_DISTANCE_METHOD = ""

DEFAULT_LANG = "en"
PRIMARY_LANG = "en"