fastapi==0.110.2
uvicorn[standard]==0.29.0
python-multipart==0.0.9
python-dotenv==1.0.1
pydantic_settings==2.8.0
aiofiles==23.2.1
langchain
pymupdf==1.24.5
langchain_community
langchain_core
motor==3.5.0
pymongo==4.7.2
openai>=1.0.0
cohere
qdrant-client
SQLAlchemy
asyncpg
alembic
psycopg2
nltk